# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/
local_settings.py

# Virtual Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# IDEs
.vscode/
.idea/

# Windows files
*.bak
Thumbs.db
