{% extends 'partials/student_navbar.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}


{% block css %}

<style>
    body {
        background: #f8fafc;
    }



    /* Wrapper */

    .password-wrapper {

        min-height: 85vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;

    }



    /* Card */

    .password-card {

        width: 100%;
        max-width: 500px;
        background: #ffffff;
        border-radius: 20px;
        padding: 35px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
        transition: .3s;

    }


    .password-card:hover {

        transform: translateY(-5px);

    }



    .password-card h3 {

        font-weight: 700;
        text-align: center;
        color: #111827;
        margin-bottom: 30px;

    }



    /* Labels */

    label {

        font-weight: 600;
        color: #374151;
        margin-bottom: 7px;

    }



    /* Input */

    .form-control {

        border-radius: 12px;
        padding: 12px;
        border: 1px solid #d1d5db;

    }



    .form-control:focus {

        border-color: #059669;
        box-shadow: 0 0 8px rgba(5, 150, 105, .25);

    }



    /* Button */

    .btn-update {

        width: 100%;
        background: #059669;
        color: white;
        border: none;
        padding: 12px;
        border-radius: 30px;
        font-weight: 600;
        transition: .3s;

    }



    .btn-update:hover {

        background: #047857;
        transform: scale(1.02);
        color: white;

    }



    .small-text {

        font-size: 13px;
        color: #6b7280;
        text-align: center;
        margin-top: 15px;

    }
</style>


{% endblock %}





{% block body %}


<div class="password-wrapper">


    <div class="password-card">


        <h3>
            Change Password
        </h3>



        <form method="POST" name="change_password" onsubmit="return checkPassword()">


            {% csrf_token %}



            <div class="mb-3">

                <label>
                    Username
                </label>


                <input type="text" class="form-control" value="{{ request.user }}" readonly>


            </div>





            <div class="mb-3">

                <label>
                    Current Password
                </label>


                <input type="password" class="form-control" name="current_password" required>


            </div>





            <div class="mb-3">

                <label>
                    New Password
                </label>


                <input type="password" class="form-control" name="new_password" required>


            </div>





            <div class="mb-3">

                <label>
                    Confirm Password
                </label>


                <input type="password" class="form-control" name="confirm_password" required>


            </div>





            <button type="submit" class="btn-update">

                <i class="bi bi-shield-lock"></i>
                Update Password

            </button>




            <div class="small-text">

                Use a strong password

            </div>



        </form>


    </div>


</div>


{% endblock %}




{% block js %}


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>

    function checkPassword() {

        const form = document.change_password;


        if (form.new_password.value !== form.confirm_password.value) {


            Swal.fire({

                icon: 'error',
                title: 'Password Mismatch',
                text: 'New and confirm password must match!',
                confirmButtonColor: '#d97706'

            });


            return false;

        }


        return true;

    }

</script>





{% if alert %}

<script>

    Swal.fire({

        icon: 'success',
        title: 'Password Updated!',
        text: 'Please login again.',
        confirmButtonColor: '#059669'

    }).then(() => {


        window.location.href = "{% url 'logout' %}";


    });


</script>

{% endif %}





{% if currpasswrong %}

<script>

    Swal.fire({

        icon: 'error',
        title: 'Wrong Password',
        text: 'Current password is incorrect.',
        confirmButtonColor: '#d97706'

    });

</script>


{% endif %}



{% endblock %}